<template>
<div class="loginBox">
    <img
    v-bind:src="require('@/assets/check1.png')"
     
    />
    <br>
     <br>
      <br>
    <h3>Has Logeado Correctamente</h3>
    <h3>{{name}}</h3>
    <br>
    
    <br>
    <h3>Pulsa el boton para desconectarte</h3>
    
    <input @click="logout()" type="submit" name="" value="LOGUT" />

    <div class="text-center">
      <br>
      <br>
    </div>
  </div>


</template>

<script>

export default {
  
 
  props: {
    msg: String
  },
  data: () => ({
    name: "",
  }),
  mounted() {
    //this.getUser();
    
    this.name=this.$store.state.currentUser.user.name//guardamos el nombre del usuario logeado
  
  },
  methods:{
    logout() {
      this.$store.dispatch("Logout");//llamamos la accion para que cierre session
      this.$router.push("/");//y lo redirigimos a el login
    },
  }




  
}
</script>

<style>
body {
  background:url('@/assets/Lago-Moraine-Parque-Nacional-Banff-Alberta-Canada.jpg');
  background-size:auto;
}
img{
  border-radius: 10px;
  width: 100px;
  
}

</style>