<template>
  <div class="loginBox">
    <!-- Alerta de error de password o contraseña -->
      <div v-if="error" class="alert alert-danger" role="alert">  
          Email o Password incorrectos
      </div>
    <!-- fin Alerta de error de password o contraseña  -->
    
    <!--  Login -->
    <img
    v-bind:src="require('@/assets/login.png')"
    />
    <h3>Login here</h3>
      
    <form  action  @submit.prevent="postValidate">
      <div class="inputBox">
        <input 
        v-model="email"
        id="email" 
        type="email" 
        name="email" 
        placeholder="Ejemplo@gmail.com" />
        <br>
        <br>
        <br>
        <input v-model="password"
          id="password"
          type="password"
          name="Password"
          placeholder="Password"
        />
      </div>
      <input type="submit" name="" value="Login" />
    </form>
     <!-- fin Login -->
    <div class="text-center">
      <br>
      <br>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  

  data: () => ({
    email: "",
    password: "",
    error: false,
  }),
  mounted() {
    //this.getUser();
  },
  methods: {
    /*  getUser() {
      axios
        .get("http://127.0.0.1:8000/api/user")
        .then((response) => {
          this.users = response.data;                  //metodo para ver la informacion de todos los usuarios 
          console.log(response);                       
          console.log("asd" + this.$router);
        })
        .catch((e) => console.log(e));
    },*/

    postValidate() {  
      let self = this;
      axios                                           //utilizamos axios para acceder a la api 
        .post("http://127.0.0.1:8000/api/validate", {
          email: this.email,
          password: this.password,                    //le pasamos los datos correspondientes
        })
        .then(function (response) {
          
          localStorage.getItem = response.data;
         
          if (response.data.error) {                  //validamos que no arroje error
            localStorage.getItem = response.data;
            self.error=true;                          //cambiamos la variable para saber que nos dio error
              
            
          }else{                                      //si no nos dio error 
            self.$store.dispatch("login", response);  //ejecutamos la accion de login para que guarde la session
             self.$router.push('/home')               //y lo mandamos a Home
          }

        })
        .catch(function (error) {
          console.log(error);
        });
    },
  },
};
</script>

<style>
@import url(@/assets/Main.css); 
</style>
