body {
    margin: 0;
    padding: 0;
    
    height: 100vh;
    font-family: sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
  }
  @media screen and (max-width: 600px;) {
    body {
      background-size: cover;
      
    }
  }
  #particles-js {
    height: 100%;
  }
  .loginBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    min-height: 200px;
    background: #0f0f0f9c;
    border-radius: 10px;
    padding: 40px;
    box-sizing: border-box;
  }
  .user {
    margin: 0 auto;
    display: block;
    margin-bottom: 20px;
  }
  h3 {
    margin: 0;
    padding: 0 0 20px;
    color: #ffffff;
    text-align: center;
  }
  .loginBox input {
    width: 100%;
    margin-bottom: 20px;
  }
  .loginBox input[type="email"],
  .loginBox input[type="password"] {
    border: none;
    border-bottom: 2px solid #fffcfc;
    outline: none;
    height: 40px;
    color: #fff;
    background: transparent;
    font-size: 16px;
    padding-left: 20px;
    box-sizing: border-box;
  }
  .loginBox input[type="email"]:hover,
  .loginBox input[type="password"]:hover {
    color: #42f3fa;
    border: 1px solid #42f3fa;
    box-shadow: 0 0 5px rgba(0, 255, 0, 0.3), 0 0 10px rgba(0, 255, 0, 0.2),
      0 0 15px rgba(0, 255, 0, 0.1), 0 2px 0 black;
  }
  .loginBox input[type="email"]:focus,
  .loginBox input[type="password"]:focus {
    border-bottom: 2px solid #42f3fa;
  }
  .inputBox {
    position: relative;
  }
  .inputBox span {
    position: absolute;
    top: 10px;
    color: #f7f4f4;
  }
  .loginBox input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    font-size: 16px;
    background: #7db820;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
  }
  .loginBox a {
    color: #262626;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    display: block;
  }
  a:hover {
    color: #00ffff;
  }
  p {
    color: #0000ff;
  }