<template>
 <div id="">

<router-view></router-view>
 </div>


  
 
</template>

<script>


export default {

  beforeCreate(){                            //Verificamos en la storage si ha una session activa
      
      let User= JSON.parse(window.localStorage.getItem('currentUser'));
      console.log(User)
      if (User) {                              //si esta logeado
        this.isLogged=true;
        this.$store.dispatch('SetUserInfo', User); //ejecutamos la accion se obtener info del usuario
        this.$router.push('/home')                 // y lo redirigimos
      }else{                                        //sino esta logeado no se manda al login 
        console.log('login please');          
        this.$router.push('/')
      }
    
 } 
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
